.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.5s;
  cursor: pointer;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.container {
  width: 1200px;
  padding: 10px;
}