body {
  margin: 0;
  padding: 0;
}


.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 24px 156px;
  ;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.modal {
  width: 1112px;
  height: 640px;
}